@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 249, 249, 249;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 18, 18, 18;
}

body {
  background: #050505;
  color: #F9F9F9;
}

/* Smooth scrolling for that premium feel */
html {
  scroll-behavior: smooth;
}